@tailwind base;
@tailwind components;
@tailwind utilities;

@import "reveal.js/dist/reveal.css";
@import "reveal.js/dist/theme/night.css";
@import "highlight.js/styles/atom-one-dark.css";

* {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

*::-webkit-scrollbar {
    display: none; /* Safari i Chrome */
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a,
span * {
    font-family: var(--font-montserrat) !important;
}

code > * {
    font-family: var(--font-jetbrains_mono);
}
